<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css" >
    <title>Document</title>
</head>
<body>
{% block content %}
    <div class="bg">
        <div class="title">
            <h1>Goodreads Webscraper Recommendations</h1>
        </div>
        <div class="wrapper">
            <h2>Enter the book title</h2>
            <form action="/index" method="POST">
                <input type="text" class="search-bar" placeholder="Please enter book title" name="book-name">
        </form>
    </div>
    </div>
{% endblock %}
</body>
</html>

